*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.modal_profile_container {
  width: 500px;
  margin: 0 auto;
  top: 50%;
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: sans-serif;
  gap: 10px;
  border: 1px solid lightgray;
  padding: 1em;
  background-color: #f1f1f1;
}

.modal_commit_item span {
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Hides the overflow content */
  text-overflow: ellipsis; /* Adds an ellipsis (...) at the end */
  width: 150px;
  color: #13caa2;
}
.modal_commit_item span b {
  color: black;
}

.modal_banner {
  position: absolute;
  z-index: 1;
  width: 97%;
  top: 10px;
  border-radius: 8px;
  background: linear-gradient(0deg, #6466d77f 0%, #13caa281 100%);
  height: 150px;
}
.modal_user_image {
  z-index: 200;
  border: 3px solid white;
}

.modal_profile_header {
  margin-top: 68px;
  z-index: 990 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 20px;
  /* border-bottom: 1px solid #ccc; */
}

.modal_followers {
  display: flex;
  gap: 20px;
  font-size: 12;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.modal_followers span {
  font-size: 20px;
  font-weight: bold;
}
.modal_profile_name_container {
  align-items: center;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.modal_profile_header_user_name {
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}
.modal_profile_header_name {
  font-size: 12;
}

.modal_user_image {
  margin: auto;
  border-radius: 50%;
}

.modal_companies {
  display: flex;
  gap: 20px;
}
.modal_profile_card {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 600px; /* Adjust the maximum width as needed */
  background-color: #fff; /* White background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
.modal_profile_card img {
  width: 80px; /* Adjust the image width as needed */
  height: 80px; /* Adjust the image height as needed */
  border-radius: 50%; /* Make the image round */
  margin-right: 20px; /* Add some spacing between the image and the card */
}
.modal_profile_card_item {
  display: flex;
  flex-direction: column;
}

.modal_profile_card_item span {
  margin-top: 5px; /* Ajusta el espacio entre la etiqueta y el valor */
}

.modal_tabs_container {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  gap: 20px;
  border-bottom: 1px solid #ccc;
}
.modal_tab {
  padding: 12px;
  cursor: pointer;
}
.modal_tab:hover {
  border-bottom: 2px solid #13caa29b;
  color: #13caa29b;
  font-weight: bold;
}
.modal_tab.active {
  border-bottom: 2px solid #13caa2;
  color: #13caa2;
  font-weight: bold;
}

.modal_profile_header_name {
  color: gray;
}
.modal_repos_content,
.modal_commits-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 400px;
  width: 100%;
  overflow-y: scroll;
}

.modal_repos_item,
.modal_commit_item {
  /* Add styles for each commit item */
  padding: 8px;
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
}

.modal_repos_item:hover,
.modal_commit_item:hover {
  background: #adadad3d;
}

.modal_commit_item a {
  color: #13caa2;
}
.modal_view_more_button {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #13caa2;
  color: #13caa2;
}
.modal_view_more_button:hover {
  color: white;
  background-color: #13caa2;
}

.modal_commit_date {
  color: gray;
  font-size: 12px;
}
@media only screen and (max-width: 600px) {
  .modal_profile_container {
    width: 85vw;
    margin: 0 auto;
    top: 50%;
    gap: 5px;
    max-height: 75vh;
    overflow: scroll;
  }
  .modal_view_more_button {
    padding: 4px;
    border-radius: 3px;
    font-size: 10px;
  }

  .modal_banner {
    display: none;
  }
  .modal_profile_header {
    margin-top: 0;
    gap: 5px;
  }
  .modal_tabs_container {
    margin-top: 0px;
  }

  .modal_repos_item span,
  .modal_commit_item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
  }
  .modal_repos_content,
  .modal_commits-content {
    overflow-y: visible;
  }
  .modal_profile_header_user_name {
    width: 40%;
  }
}
