*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.modal-profile-container {
  width: 500px;
  margin: 0 auto;
  top: 50%;
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: sans-serif;
  gap: 10px;
  border: 1px solid lightgray;
  padding: 1em;
  background-color: #f1f1f1;
}

.modal-commit-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  color: #13caa2;
}
.modal-commit-item span b {
  color: black;
}

.modal-banner {
  position: absolute;
  z-index: 1;
  width: 97%;
  top: 10px;
  border-radius: 8px;
  background: linear-gradient(0deg, #6466d77f 0%, #13caa281 100%);
  height: 150px;
}
.modal-user-image {
  z-index: 200;
  border: 3px solid white;
}

.modal-profile-header {
  margin-top: 68px;
  z-index: 990 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.modal-followers {
  display: flex;
  gap: 20px;
  font-size: 12;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.modal-followers span {
  font-size: 20px;
  font-weight: bold;
}
.modal-profile-name-container {
  align-items: center;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.modal-profile-header-user-name {
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}
.modal-profile-header-name {
  font-size: 12;
}

.modal-user-image {
  margin: auto;
  border-radius: 50%;
}

.modal-companies {
  display: flex;
  gap: 20px;
}
.modal-profile-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modal-profile-card img {
  width: 80px;

  border-radius: 50%;
  margin-right: 20px;
}
.modal-profile-card-item {
  display: flex;
  flex-direction: column;
}

.modal-profile-card-item span {
  margin-top: 5px;
}

.modal-tabs-container {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  gap: 20px;
  border-bottom: 1px solid #ccc;
}
.modal-tab {
  padding: 12px;
  cursor: pointer;
}
.modal-tab:hover {
  border-bottom: 2px solid #13caa29b;
  color: #13caa29b;
  font-weight: bold;
}
.modal-tab.active {
  border-bottom: 2px solid #13caa2;
  color: #13caa2;
  font-weight: bold;
}

.modal-profile-header-name {
  color: gray;
}
.modal-repos-content,
.modal-commits-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 400px;
  width: 100%;
  overflow-y: scroll;
}

.modal-repos-item,
.modal-commit-item {
  padding: 8px;
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
}

.modal-repos-item:hover,
.modal-commit-item:hover {
  background: #adadad3d;
}

.modal-commit-item a {
  color: #13caa2;
}
.modal-view-more-button {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #13caa2;
  color: #13caa2;
}
.modal-view-more-button:hover {
  color: white;
  background-color: #13caa2;
}

.modal-commit-date {
  color: gray;
  font-size: 12px;
}
@media only screen and (max-width: 600px) {
  .modal-profile-container {
    width: 85vw;
    margin: 0 auto;
    top: 50%;
    gap: 5px;
    max-height: 75vh;
    overflow: scroll;
  }
  .modal-view-more-button {
    padding: 4px;
    border-radius: 3px;
    font-size: 10px;
  }

  .modal-banner {
    display: none;
  }
  .modal-profile-header {
    margin-top: 0;
    gap: 5px;
  }
  .modal-tabs-container {
    margin-top: 0px;
  }

  .modal-repos-item span,
  .modal-commit-item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
  }
  .modal-repos-content,
  .modal-commits-content {
    overflow-y: visible;
  }
  .modal-profile-header-user-name {
    width: 40%;
  }
}
