<div *ngIf="user$ | async as user" class="modal-profile-container">
  <div class="modal-profile-header">
    <div class="modal-banner"></div>

    <img
      src="{{ user.avatar_url }}"
      class="modal-user-image"
      alt="Avatar Url"
      width="128"
      height="128"
    />
    <div class="modal-profile-name-container">
      <h2 class="modal-profile-header-user-name">{{ user.login }}</h2>
      <h3 class="modal-profile-header-name">{{ user.name }}</h3>
    </div>

    <div class="modal-companies">
      <div *ngFor="let company of user.company | split : ','">
        <span><ng-icon name="bootstrapBuilding"></ng-icon> </span>
        {{ company }}
      </div>
    </div>

    <div class="modal-location">
      <span><ng-icon name="octLocation"></ng-icon> </span>

      {{ user.location }}
    </div>

    <div class="modal-followers">
      <div>
        followers:
        <span>
          {{ user.followers }}
        </span>
      </div>

      <div>
        followings:
        <span>
          {{ user.following }}
        </span>
      </div>
    </div>
  </div>

  <div class="modal-tabs-container">
    <div
      class="modal-tab"
      [class.active]="activeTab === 'repos'"
      (click)="showTab('repos')"
    >
      Repositories
    </div>
    <div
      class="modal-tab"
      [class.active]="activeTab === 'commits'"
      (click)="showTab('commits')"
    >
      Commits
    </div>
  </div>

  <div class="modal-tab-content">
    <div *ngIf="activeTab === 'repos'" class="modal-repos-content">
      <spinner *ngIf="!(userRepos$ | async)" class="loader"> </spinner>
      <div *ngFor="let repo of userRepos$ | async" class="modal-repos-item">
        <span>{{ repo.name }}</span>
        <a target="-blank" [href]="repo.html_url" class="modal-view-more-button"
          >View more</a
        >
      </div>
    </div>

    <div *ngIf="activeTab === 'commits'" class="modal-commits-content">
      <spinner *ngIf="!(userGeneralCommits$ | async)" class="loader"> </spinner>

      <div
        *ngFor="let commit of userGeneralCommits$ | async"
        class="modal-commit-item"
      >
        <span class="modal-commit-sha">
          <b>SHA: </b>
          <a target="-blank" [href]="commit.html_url">{{ commit.sha }} </a>
        </span>
        <div class="modal-commit-date">
          {{ commit.commit.author.date | formatDate : "DD-MM-YYYY" }}
        </div>
      </div>
    </div>
  </div>
</div>
