<!-- set as form instead of (change) event-->
<input type="text" [(ngModel)]="searchString" (change)="searchUsers()" />
<!-- TODO put the data on a table, and make pagination for it, with the search filter with the conditions on the instructions -->
<!-- loader -->
<span *ngIf="loadingData" class="loader"> </span>
<!-- table -->
<div class="container" *ngIf="(users$ | async)?.length && !loadingData">
  <h2>Users</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-4">Avatar</div>
      <div class="col col-2">Name</div>
      <div class="col col-3">Followers</div>
    </li>

    <li
      class="table-row"
      *ngFor="let user of users$ | async"
      (click)="navigateToProfile(user.login)"
    >
      <div class="col col-4" data-label="Avatar">
        <img
          src="{{ user.avatar_url }}"
          alt="Avatar Url"
          width="32"
          height="32"
        />
      </div>
      <div class="col col-2" data-label="Name">{{ user.login }}</div>
      <div class="col col-3" data-label="Followers">
        {{ user.followers }}
      </div>
    </li>
  </ul>
  <!-- pagination -->
  <button>
    <span>&#60;&#60;</span>
  </button>
  <button (click)="searchUsers(currentPageNumber - 1)">
    <span>&#60;</span>
  </button>
  <button (click)="nextPageGroup = nextPageGroup - 1" *ngIf="nextPageGroup > 1">
    <span>...</span>
  </button>
  <div *ngFor="let pages of getNumberArray(totalPageNumbers); let i = index">
    <button
      (click)="searchUsers(i + 1)"
      *ngIf="
        i + 1 >= currentPageNumber + 5 * (nextPageGroup - 1) &&
        i + 1 < currentPageNumber + 5 * nextPageGroup
      "
    >
      <span>
        {{ i + 1 }}
      </span>
    </button>

    <button
      (click)="nextPageGroup = nextPageGroup + 1"
      *ngIf="i + 1 == currentPageNumber + 5 * nextPageGroup"
    >
      <span>...</span>
    </button>
  </div>
  <button>
    <span>&#62;</span>
  </button>

  <button>
    <span>&#62;&#62;</span>
  </button>
</div>
