<!-- set as form instead of (change) event-->
<div class="glu-home">
  <div class="glu-home-container">
    <h1 class="glu-home-title">GitHub userlist</h1>

    <div class="glu-home-search">
      <input
        class="glu-home-search-input"
        type="text"
        [(ngModel)]="searchString"
        (change)="searchUsers()"
      />
    </div>
    <!-- loader -->
    <spinner *ngIf="loadingData" class="loader"> </spinner>
    <!-- table -->
    <table-users
      (searchUser)="searchUsers($event)"
      [users$]="users$"
      [totalPageNumbers]="totalPageNumbers"
      *ngIf="(users$ | async)?.length && !loadingData"
    ></table-users>
  </div>
</div>
