<!-- set as form instead of (change) event-->
<input type="text" [(ngModel)]="searchString" (change)="searchUsers()" />
<!-- TODO put the data on a table, and make pagination for it, with the search filter with the conditions on the instructions -->

<span *ngIf="loadingData"> Loading...</span>
<div class="container" *ngIf="(users$ | async)?.length && !loadingData">
  <h2>Users</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-2">Name</div>
      <div class="col col-3">Followers</div>
      <div class="col col-4">Avatar Url</div>
    </li>

    <li
      class="table-row"
      *ngFor="let user of users$ | async"
      (click)="navigateToProfile(user.login)"
    >
      <div class="col col-2" data-label="Name">{{ user.login }}</div>
      <div class="col col-3" data-label="Followers">
        {{ user.followers }}
      </div>
      <div class="col col-4" data-label="Avatar">
        <img
          src="{{ user.avatar_url }}"
          alt="Avatar Url"
          width="64"
          height="64"
        />
      </div>
    </li>
  </ul>
</div>
